* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e69a20;
  --secondary-color: #f26116;
  --background-color: #201f1f;
  --background-color-addition: #474747;
}

body {
  color: white;
  background-color: var(--background-color);
}

.hero-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

nav {
  margin: auto;
  width: 80vw;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
}
.logo h3 {
  font-family: "roboto", sans-serif;
  margin-left: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.links {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
}
.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.links a:hover {
  opacity: 0.6;
  color: var(--primary-color);
  text-decoration: underline;
}

.hamburger {
  z-index: 1;
  margin-right: 1.2rem;
}
.hamburger span {
  display: block;
  width: 2.5rem;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
  transition-duration: 0.5s;
}
.hamburger span:nth-child(1) {
  width: 1rem;
}
.hamburger span:nth-child(2) {
  width: 1.5rem;
}
.hamburger:hover span:nth-child(1) {
  width: 2.5rem;
}
.hamburger:hover span:nth-child(2) {
  width: 2.5rem;
}
/*! HERO  */
.hero {
  font-family: "kanit", sans-serif;
  margin: auto;
  text-align: start;
  width: 100vw;
  margin-top: -0.5rem;
  margin-bottom: -2rem;
  padding: 10rem 2rem 2rem 2rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 500;
}
.hero p {
  font-family: "roboto", sans-serif;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
}

.foto-profile {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.foto-profile img {
  width: 90%;
}

/*! JOB  */
.job {
  width: 100vw;
}
.job .title {
  margin-top: 10rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "kanit", sans-serif;
}
.job .myAdvantages {
  width: 100vw;
}
.job .myAdvantages div {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.job .myAdvantages div h3 {
  text-align: center;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  font-family: "kanit", sans-serif;
}
.job .myAdvantages div p {
  text-align: center;
  margin-top: 0.5rem;
  font-family: "roboto", sans-serif;
  font-weight: 300;
}

/*! TESTIMONIAL */
.testimonials {
  margin-top: 10rem;
  font-family: "roboto", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.testimonials .testimonial {
  margin: auto;
  margin-bottom: 3rem;
}
.testimonials .testimonial p {
  width: 80vw;
}
.testimonials .testimonial p:nth-child(4) {
  font-weight: 200;
  font-size: 0.8rem;
}
.testimonials .testimonial h4 {
  margin-top: 1rem;
}

/*! Footer  */
footer {
  margin-top: 5rem;
  width: 100vw;
  margin: 5rem 0;
}
footer .container {
  margin: auto;
  width: 80vw;
}
footer h2 {
  font-family: "kanit", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
footer p {
  font-family: "roboto", sans-serif;
  margin-bottom: 1rem;
}
footer p a {
  text-decoration: none;
  color: white;
}
footer p a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
footer .social-media {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
footer .social-media a:hover {
  opacity: 0.7;
}
footer .social-media img {
  width: 1.2rem;
}
footer a.button {
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  font-size: 0.8rem;
  border: 3px solid var(--secondary-color);
}
footer a.button:hover {
  background-color: transparent;
  border: 3px solid var(--secondary-color);
}

@media screen and (min-width: 768px) {
  nav {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .links {
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    height: fit-content;
    text-align: center;
    position: static;
    background-color: transparent;
    transform: translateX(0);
  }
  .links a {
    color: white;
  }
  .links a:hover {
    color: white;
    text-decoration: 0;
  }
  .hamburger {
    display: none;
  }
  /*! Hero  */
  .hero {
    /* background-color: gray; */
    width: 80vw;
    padding: 10rem 0 0 0;
  }
  .hero h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .hero p {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .foto-profile {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

    gap: 1rem;
  }
  .foto-profile img {
    width: 50vw;
    transition-duration: 0.5s;
  }
  .foto-profile img:hover {
    width: 80vw;
    position: relative;
  }
  /*! JOB */
  .job .title {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .job .title h2 {
    font-weight: 500;
  }
  .job .myAdvantages div {
    margin-top: 4rem;
  }
  .job .myAdvantages img {
    min-width: 40%;
    max-width: 45%;
  }
  .job .myAdvantages h3 {
    font-size: 1.7rem;
    font-weight: 400;
  }
  .job .myAdvantages p {
    font-size: 1.1rem;
    width: 60vw;
  }
  /*! Testimonials  */
  .testimonials {
    margin-top: 15rem;
  }
  .testimonials .testimonial {
    margin-top: 3rem;
  }
  .testimonials .testimonial img {
    width: 50%;
  }
  .testimonials .testimonial p {
    font-size: 1.1rem;
    width: 60vw;
  }
  .testimonials .testimonial h4 {
    font-size: 1.1rem;
  }
  footer {
    margin-top: 5rem;
  }
  footer p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .links {
    width: 30vw;
  }
  /*! Hero  */
  .hero h1 {
  }
}

@media screen and (min-width: 1280px) {
  /*! Hero */

  .hero-section .logo h3 {
    font-size: 1.4rem;
  }
  .links {
    width: 30vw;
    font-size: 1.4rem;
  }
  .hero {
    /* background-color: gray; */
    width: 80vw;
    padding: 10rem 0 0 0;
  }
  .hero h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .hero p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .foto-profile {
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .foto-profile img {
    width: 35vw;
  }
  .foto-profile img:hover {
    width: 50vw;
  }
  /*! JOB */
  .job .title h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  .job .myAdvantages div {
    margin-top: 4rem;
  }
  .job .myAdvantages img {
    min-width: 40%;
    max-width: 45%;
  }
  .job .myAdvantages h3 {
    font-size: 2.4rem;
  }
  .job .myAdvantages p {
    font-size: 1.5rem;
  }
  /*! Testimonials  */
  .testimonials {
    margin-top: 15rem;
  }
  .testimonials .testimonial {
    margin-top: 3rem;
  }
  .testimonials .testimonial img {
    width: 50%;
  }
  .testimonials .testimonial p {
    font-size: 1.5rem;
    width: 60vw;
  }
  .testimonials .testimonial p:nth-child(4) {
    font-size: 1.1rem;
  }
  .testimonials .testimonial h4 {
    font-size: 1.5rem;
  }
  /* !Footer */
  footer {
    margin-top: 8rem;
  }
  footer h2 {
    font-size: 2.4rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer .social-media {
    margin-bottom: 3rem;
  }
  footer .social-media img {
    width: 2rem;
    margin-right: 2rem;
  }
  footer a.button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 4rem;
  }
}
